<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Extend</title>
</head>

<body>

  <div block="block" each="3" style="background-color: black;">
    <h1 style="color: red;">Block</h1>
    <div elem="element" style="background-color: green;">
      <h2 style="color: red;">Element</h2>
    </div>
    <div elem="element" mods="modifier" style="background-color: red;">
      <h2 style="color: green;">Element Modifier</h2>
    </div>
  </div>

  <include src="include/partial.html"></include>

</body>

</html>