<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Local</title>
</head>

<body>

  <div block="block">
    <h1>Block</h1>
    <div elem="element">
      <h2>Element</h2>
    </div>
    <div elem="element" mods="modifier">
      <h2>Element with modifier</h2>
    </div>
  </div>

  <div block="block" mods="modifier" each="3">
    <h1>Block with modifier</h1>
    <div elem="element">
      <h2>Element</h2>
    </div>
    <div elem="element" mods="modifier">
      <h2>Element with Modifier</h2>
    </div>
  </div>

  <include src="include/partial.html"></include>

</body>

</html>